---
layout: default
---

<div class="card">

  <div class="card-left">
    <div class="card-header">{{page.title}}</div>
  </div>
  <button></button>
  <div class="card-main">
    <div class="card-content">
      {{ content }}
    </div>
    {%- if page.tags -%}
    <div class="container_tags"> 
      <span> tags </span>
      <div class="tags">
        <ul>
        {%- for tag in page.tags -%}
            <li>{{ tag }}</li>
        {%- endfor -%}
        </ul>
      </div>
    </div>
    {%- endif -%}

  </div>

</div>