---
layout: default
---

<div class="home">

  <a id="top-anchor"></a>

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  

  <div>{{ page.sections['intro'] | markdownify }}</div>

  <h2> Education </h2>

  <div> {{ page.sections['education'] | markdownify }} </div>

  <div class="wrapper-grid-card"> 
  {%- for educ in site.education -%}
    {{educ}}
  {%- endfor -%}
  </div>

  <h2> Projects </h2> 
  <div> {{ page.sections['projects'] | markdownify }} </div>

  
  <div class="wrapper-grid-card"> 
  {%- for proj in site.progprojects -%}
    {{proj}}
  {%- endfor -%}
  </div>

  <h2> Skills </h2> 
  <div> <ul>
  {%- for skill in page.sections['others'] -%}
    <li>{{ skill | markdownify }}</li>
  {%- endfor -%}
  </ul>
  </div>

  {{ content }}

  <div class="to-top-arrow">
    <a href="#top-anchor">
      <i class="far fa-arrow-alt-circle-up"></i>
    </a>
  </div> 

</div>
