---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div>{{ page.sections['intro'] | textilize }}</div>

  <h2> Education </h2>

  <div> {{ page.sections['education'] | textilize }} </div>


  {%- for educ in site.education -%}
  <li>
    {{educ}}
  </li>
  {%- endfor -%}

  <div class="wrapper-grid-card"> </div>

  <h2> Projects </h2>

  <div> {{ page.sections['projects'] | textilize }} </div>

  
  <div class="wrapper-grid-card"> 
  {%- for proj in site.progprojects -%}
  
    {{proj}}
 
  {%- endfor -%}
  </div>


  <div> {{ content }} </div>

</div>
